body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/*********** NAVIGATION ***********/
nav {
  height: 7.5vh;
  width: 100vw;
  background-color: white;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  top: 0;
  overflow: hidden;
  z-index: 1;
}

nav .container,
nav .row {
  height: 7.5vh;
}

nav a {
  color: black;
  text-decoration: none;
}

nav .logo {
  text-align: left;

  display: block;
}

nav .fa-bars {
  text-align: right;
  display: block;
}
.logo {
  color: #5dcd11;
}

.logo-span {
  color: #26beff;
}

/* Mobile Side Menu */
.mobile-side-menu {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2 !important;
  background-color: white;
  border-left: 1px solid black;
  display: none;
}

.mobile-side-menu .fa-times {
  padding: 25px 25px 0 0;
  text-align: right;
  display: block;
}

.mobile-side-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-side-menu ul li {
  text-align: center;
  padding-top: 40px;
}

.mobile-side-menu ul li a {
  color: black;
  text-decoration: none;
}

.mobile-side-menu ul li a:hover {
  color: grey;
}

/*********** CALCULATOR WRAPPER ***********/
.calculator-wrapper {
  padding: 5%;
  text-align: center;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.calculator-wrapper h1 {
  color: #5dcd11;
}

.calculator-wrapper img {
  width: 80vw;
  height: 20vh;
}

/*********** MACRO CALCULATOR ***********/
.macro-calculator {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 10%;
}

.macro-calculator button {
  padding: 7.5px 18px;
  background-color: #26beff;
  border: 1px solid #26beff;
  color: white;
}

.macro-calculator button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  cursor: pointer;
}

.macro-calculator-results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  color: white;
  background-color: #343a40;
  border-radius: 25px;
  padding: 5%;
  margin: 5% 0;
  display: none;
}

.macro-calculator-results h3 {
  width: 50%;
}

.macro-calculator-results a {
  color: lightgrey;
}

.macro-calculator-results span {
  color: lightgrey;
}

/*********** HERE TO HELP SECTION ***********/
.here-to-help-wrapper {
  border: 1px solid black;
  height: 80vh;
  text-align: center;
}

.here-to-help-wrapper img {
  width: 80vw;
  height: 20vh;
}

.here-to-help-wrapper h2 {
  color: #5dcd11;
}

.here-to-help-wrapper button {
  padding: 7.5px 18px;
  background-color: #26beff;
  border: 1px solid #26beff;
  color: white;
}

.here-to-help-wrapper button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  cursor: pointer;
}

/*********** FIND WORKOUTS SECTION ***********/
.find-workouts-wrapper {
  border: 1px solid black;
  height: 80vh;
  text-align: center;
}

.find-workouts-wrapper img {
  width: 80vw;
  height: 20vh;
}

.find-workouts-wrapper h2 {
  color: #5dcd11;
}

/*********** FOOTER ***********/
footer {
  width: 100%;
  padding: 5%;
  background-color: #343a40;
  color: white;
  text-align: center;
}

footer p {
  margin: 5% 0;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  padding-top: 10px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: grey;
}

/*********** MAIN ***********/

@media only screen and (min-width: 1024px) {
  .hamburger-icon {
    display: none;
  }

  nav {
    display: flex;
    justify-content: left;
  }

  .nav-links {
    display: inline;
  }
}
