body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  position: relative;
}

/*********** NAVIGATION ***********/
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.5vh;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  top: 0;
  position: fixed;
  overflow: hidden;
}

nav a {
  flex-grow: 1;
  text-align: center;
  color: black;
  text-decoration: none;
}

.logo {
  color: #5dcd11;
}

.logo-span {
  color: #26beff;
}

.nav-links {
  display: none;
}

.nav-links ul li {
  display: inline;
}

.times-icon {
  display: none;
}

.macro-calculator-results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.macro-calculator-results h3 {
  width: 50%;
}

.macro-calculator-results span {
  color: grey;
}

main {
  margin-top: 10vh;
  padding: 5%;
  text-align: center;
}

main h1 {
  color: #5dcd11;
}

main img {
  width: 80vw;
  height: 20vh;
}

main form {
  width: 80%;
  border: 1px solid black;
  margin: 0 auto;
  text-align: left;
  padding: 10%;
}

.macro-calculator button {
  padding: 7.5px 18px;
  background-color: #26beff;
  border: 1px solid #26beff;
  color: white;
}

.macro-calculator button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  cursor: pointer;
}

footer {
  width: 100%;
  background-color: #343a40;
  color: white;
  position: absolute;
  bottom: 0;
}

/*********** MAIN ***********/

@media only screen and (min-width: 1024px) {
  .hamburger-icon {
    display: none;
  }

  nav {
    display: flex;
    justify-content: left;
  }

  .nav-links {
    display: inline;
  }
}
